body {
  font-family: "EB Garamond", serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8B0000;
  padding: 10px 25px;
}

.logo {
  height: 60px; 
}

nav {
  display: flex;
  gap: 15px;
  margin-top: -6px;
}

nav a {
  color: #D3D3D3; 
  text-decoration: none; 
}

nav a:hover {
  color: #F5F5F5;  
  text-decoration: underline;
}

#first {
  background-color: #F5F5DC;
  display: flex;
  padding: 60px 150px;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #333333;
  margin: 0;
  font-size: 50px;
  width: 350px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: "Merriweather", serif;
}

.bold {
  color: #008080;
  text-decoration: underline;
}

.intro-text {
  width: 450px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #666666;
}

.front-page-img {
  width: 550px;
  height: 300px;
  object-fit: cover;
  border: 3px solid #333333;
}

.button-front {
  background-color: #004D40; 
  border: none;
  font-size: 16px;
  padding: 12px 18px;
  border-radius: 5px;
  margin-top: 8px;
}

button {
  color: white;
  font-family: "EB Garamond", serif;
  cursor: pointer;
}

#second {
  background-color: #333333;
}

h2 {
  margin: 0;
  text-align: center;
  padding: 25px 0 10px 0;
  font-size: 40px;
  color: #FAFAD2;
  font-family: "Merriweather", serif;
  font-weight: 500;
}

hr {
  margin: auto;
  width: 150px;
  text-align: center;
  margin-bottom: 35px;
  border: 1px solid #FAFAD2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 15px; 
  justify-items: center; 
  width: 70%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.img-box {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 3px solid #D3D3D3;
}

.eucharist-point {
  width: 200px;
  text-align: center;
  color: #D3D3D3 ;
}

.bold-white {
  color: white;
  font-weight: 500;
  text-decoration: underline;
}

#third {
  background-color: #8B0000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-div {
  width: 700px;
}

.quote, .quote-author {
  color: #D3D3D3;
}

.quote {
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin: 60px 0 0 0;
}

.quote-author {
  text-align: end;
  font-weight: 600;
  font-size: 28px;
  margin: 0 0 60px 0;
}

#fourth {
  background-color: #F5F5DC;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.feature-box {
  background-color: #004D40;
  margin: 60px auto;
}

.feature-content {
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  gap: 120px;
  align-items: center;
}

.feature-title, .feature-desc {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.feature-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.feature-desc {
  font-size: 15px;
  font-weight: 300;
  opacity: 80%;
}

.feature-button {
  background-color: #004D40;
  border: 1px solid white;
  padding: 8px 20px;
}