body {
  font-family: "EB Garamond", serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8B0000;
  padding: 10px 25px;
}

.logo {
  height: 60px; 
}

nav {
  display: flex;
  gap: 15px;
  margin-top: -6px;
}

nav a {
  color: #D3D3D3; 
  text-decoration: none; 
}

nav a:hover {
  color: #F5F5F5;  
  text-decoration: underline;
}

#first {
  background-color: #F5F5DC;
  display: flex;
  padding: 60px 150px;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #333333;
  margin: 0;
  font-size: 50px;
  width: 350px;
  letter-spacing: 1px;
  font-weight: 500;
}

.bold {
  color: #008080;
  text-decoration: underline;
}

.intro-text {
  width: 450px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #666666;
}

.front-page-img {
  width: 550px;
  height: 300px;
  object-fit: cover;
  border: 3px solid #333333;
}

button {
  background-color: #004D40; 
  color: #FFFFFF;
  border: none;
  font-family: "EB Garamond", serif;
  font-size: 16px;
  padding: 12px 18px;
  border-radius: 5px;
  margin-top: 8px;
  cursor: pointer;
}

#second {
  background-color: #333333;
}

h2 {
  margin: 0;
  text-align: center;
  padding: 25px 0 40px 0;
  font-size: 40px;
  color: #FAFAD2;
  text-transform: uppercase;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 15px; 
  justify-items: center; 
  width: 70%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.img-box {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 3px solid #D3D3D3;
}

.eucharist-point {
  width: 200px;
  text-align: center;
  color: #D3D3D3 ;
}